body {
    font-family: Microsoft JhengHei;
    cursor: url('../tea.cur'), pointer;
}
#banner {
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}
.title {
    color:rgba(28, 146, 67, 0.62);
    font-weight: bold;
}